<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>季疵茶坊|评论信息管理</title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css" type="text/css"/>
    <link rel="stylesheet" href="/css/admin_css/reset.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="/css/admin_css/style.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="/css/admin_css/invalid.css" type="text/css" media="screen"/>
    <script type="text/javascript" src="/js/admin_js/jquery-1.3.2.min.js"></script>
    <script type="text/javascript" src="/js/admin_js/simpla.jquery.configuration.js"></script>
    <script type="text/javascript" src="/js/admin_js/facebox.js"></script>
    <script type="text/javascript" src="/js/admin_js/jquery.wysiwyg.js"></script>
    <script type="text/javascript" src="/js/admin_js/jquery.datePicker.js"></script>
    <script type="text/javascript" src="/js/admin_js/jquery.date.js"></script>

</head>
<body>
<div id="body-wrapper">
    <div id="sidebar">
        <div id="sidebar-wrapper">
            <h1 id="sidebar-title">
                <a href="#">季疵茶坊</a>
            </h1>
            <a href="#">
                <img id="logo" src="/img/logo/logo.png" alt=""/>
            </a>

            <div id="profile-links"> 你好,
                <a href="#" title="Edit your profile">管理员：{{true_name}}</a>
                <br/>
                <br/>
                <a href="/" title="View the Site" class=" current">查看网站</a> |
                <a href="/signOut" title="Sign Out">退出</a>
            </div>

            <!--选项栏-->
            <ul id="main-nav">
                <li>
                    <a href="#" class="nav-top-item ">用户信息管理</a>
                    <ul>
                        <li>
                            <a href="/adminUser/showUserList?true_name={{true_name}}">查看用户信息</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="nav-top-item ">商品信息管理</a>
                    <ul>
                        <li>
                            <a href="/adminGood/showGoodList?true_name={{true_name}}">查看商品信息</a>
                        </li>
                        <li>
                            <a href="/adminGood/addGood">新增商品</a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="#" class="nav-top-item ">订单信息管理</a>
                    <ul>
                        <li>
                            <a href="/adminOrder/showOrderList?true_name={{true_name}}">查看订单信息</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="nav-top-item current" >评论信息管理</a>
                    <ul>
                        <li>
                            <a href="#"  class="current" >查看用户评论</a>
                        </li>
                    </ul>
                </li>
        </div>
    </div>

    <div id="main-content">
        <noscript>
            <div class="notification error png_bg"></div>
        </noscript>

        <h2>欢迎，管理员！</h2>

        <p id="page-intro">你想做些什么？</p>

        <div class="clear"></div>
        <div class="content-box">
            <div class="content-box-header">
                <h3>评论信息管理</h3>
                <ul class="content-box-tabs">
                    <li><a href="#tab1" class="default-tab">表</a></li>
                </ul>
                <div class="clear"></div>
            </div>
            <div class="content-box-content">
                <div class="tab-content default-tab" id="tab1">
                    <div>
                        <form action="/adminComment/doSearchComment?true_name={{true_name}}" method="post">
                            <input type="text" name="searchName" id="searchName" class="form" placeholder="请输入用户的真实姓名">
                            &ndash;
                            <button type="submit" class="btn btn-success" name="searchComment" id="searchComment">点击搜索
                            </button>
                        </form>
                    </div>
                    <table>
                        <thead>
                        <tr>
                            <td>序号</td>
                            <td>用户昵称</td>
                            <td>商品名</td>
                            <td>内容</td>
                            <td>状态</td>
                            <td>操作</td>
                        </tr>
                        </thead>

                        {{each data value}}
                        <tbody>
                        <tr>
                            <td>{{value.comment_id}}</td>
                            <td>{{value.nickname}}</td>
                            <td>{{value.goods_name}}</td>
                            <td>{{value.content}}</td>
                            <td>{{if value.comment_status=='0'}}允许发表该评论
                                {{else if value.comment_status=='1'}}审核中
                                {{else}}不允许发表该评论
                                {{/if}}
                            </td>
                            <td>
                                <button class="btn btn-success">
                                    <a href="javascript:if(confirm('确认是否要删除该评论?')){location.href='/adminComment/doDeleteComment?comment_id={{value.comment_id}}'}">删除</a>
                                </button>
                                {{if value.comment_status!='0'}}
                                <button><a href="/adminComment/doPublish?comment_id={{value.comment_id}}&comment_status=0">允许发表</a></button>
                                {{else}}
                                <button class="btn btn-success"><a href="/adminComment/doPublish?comment_id={{value.comment_id}}&comment_status=2">不允许发表</a></button>
                                {{/if}}
                            </td>
                        </tr>
                        </tbody>
                        {{/each}}
                        <!--分页 -->
                        <tfoot>
                        <tr>
                            <td colspan="6">
                                <div class="pagination">
                                    <a href="#">信息条数：{{total}} </a>
                                    <a href="/adminComment/showCommentList?currentPage=1" title="First Page">首页</a>
                                    <a href="/adminComment/showCommentList?currentPage={{currentPage==1?1:(currentPage-1)}}"
                                       title="Previous Page">上一页</a>
                                    <a href="/adminComment/showCommentList?currentPage={{currentPage==pages?pages:(currentPage+1)}}"
                                       title="Next Page">下一页 </a>
                                    <a href="/adminComment/showCommentList?currentPage={{pages}}" title="Last Page">页末 </a>
                                    <a href="#">当前页数：{{currentPage}}/{{pages}}</a>
                                    <a href="#">总页数：{{pages}}</a>
                                </div>
                                <div class="clear"></div>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>

</body>
</html>

